name: V3-Deployment

on:
  push:
    branches:
      - 'main'

jobs:
  buildAndDeploy:
    name: CI Pipeline
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: ['14.x']
        region: ['us-east-2']
        s3-bucket: ['codecharley-frontend']

    steps:
      - uses: actions/checkout@v2
      - uses: unfor19/install-aws-cli-action@master
        with:
          version: 2

      # Initialize Node.js
      - name: Install Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      
      - name: Write environment file
        uses: "DamianReeves/write-file-action@master"
        with:
          path: .env
          write-mode: overwrite
          contents: |
            REACT_APP_API_URL=https://api.codecharley.com
            SKIP_PREFLIGHT_CHECK=true
            REACT_APP_COMPANY=CodeCharley
            REACT_APP_DEV=true

      # Install project dependencies, test and build
      - name: Install dependencies
        run: npm install

      - name: Run build
        run: npm run build

      # Configure AWS credentials
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ matrix.region }}

      - name: Remove from S3
        uses: vitorsgomes/s3-rm-action@master
        with:
          args: --recursive
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_S3_BUCKET: ${{ matrix.s3-bucket }}
          AWS_REGION: ${{ matrix.region }}
          PATH_TO_DELETE: front

      # Deploy push to AWS S3
      - uses: shallwefootball/s3-upload-action@v1.3.0
        name: Upload S3
        id: S3
        with:
          aws_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY}}
          aws_bucket: ${{ matrix.s3-bucket }}
          source_dir: 'build'
          destination_dir: front
